MONGODB_URI="mongodb://localhost:27017"

EMAIL_USER=
EMAIL_PASSWORD=

MASTER_USER=
MASTER_PASSWORD=

PUBLIC_GITSTOR_AUTH=
PUBLIC_GITSTOR_OWNER=
PUBLIC_GITSTOR_REPO=
PUBLIC_GITSTOR_AUTHOR=
PUBLIC_GITSTOR_EMAIL=
PUBLIC_GITSTOR_API_VERSION=2022-11-28

PUBLIC_POSTS_DIRECTORY='posts'